* {
	box-sizing: border-box;
}

.photo01 {
	background-image: url("/PBimages/girl\ 1\ low\ res.jpg");
}

.photo02 {
	background-image: url("/PBimages/girl\ 2\ low\ res.jpg");
}

.photo03 {
	background-image: url("/PBimages/girl\ 3\ low\ res.jpg");
}

.photo04 {
	background-image: url("/PBimages/girl\ 4\ low\ res.jpg");
}
.photo05 {
	background-image: url("/PBimages/girl\ 5\ low\ res.jpg");
}
.photo06 {
	background-image: url("/PBimages/girl\ 6\ low\ res.jpg");
}
.photo07{
	background-image: url("/PBimages/sketches/sketch1.jpg");
}

.photo08 {
	background-image: url("/PBimages/sketches/sketch2.jpg");
}

.photo09 {
	background-image: url("/PBimages/sketches/sketch3.jpg");
}

.photo10 {
	background-image: url("/PBimages/sketches/sketch4.jpg");
}
.photo11 {
	background-image: url("/PBimages/sketches/sketch5.jpg");
}
.photo12 {
	background-image: url("/PBimages/sketches/sketch6.jpg");
}

.figure {
    height: 240px;
    width: 240px;
    margin:0;
    background-size: cover;
	background-position: 50% 50%;
    top:0;
    left:0;
    transition: all 1s ease-in-out;
    background-repeat:no-repeat;
    z-index:2;
    display:inline-block;
    position:relative;

}

.refclass {
    display: inline-block;
 
    right:0;
    top:0;
    text-decoration:none;
    color:white;
    justify-content: center;
}


figure:hover p {
    opacity:1;
}


.figure:after {
    content:"";
    display:inline-block;
    height:100%;
    width:100%;
    background-color:#DA291C;
    position: absolute;
    
    bottom: 0;
    opacity:0;
    /* transition: all 0.4s ease-in-out 0s; */
    z-index:99;
}

/* .figure:hover:after {
    opacity:0.7;
} */



/* lightbox */

.lightbox-target {
    position: fixed;
    top: -100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
 
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
    z-index:300;
    
}

.lightbox-target .LBcontainer {
    margin: auto;
    position: absolute;
    top: 50vh;
    left: 50vw;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    text-align:left;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 8px;
    justify-content: center;
    
}

h3 {
    text-align: center;
}

.LBcontainer .elements {
    display:inline-block;
    width: 100%;
    
}
.LBcontainer .refclass{
    padding-top:15px;
    
}


.lightbox-close {
  display: block;
  width: 50px;
  height: 65px;
  border-radius: 0px;
  background: rgb(240, 66, 66);
  color: rgb(255, 246, 197);
  text-decoration: none;
  position: fixed;
  margin-right: 15px;

}

.lightbox-close svg {
    display: block;
    width: 50px;
    height: 50px;
    /* border-radius: 0px; */
  
    color: rgb(137, 53, 53);
   
    position: fixed;
  filter: invert(0);
  }

.lightbox-target:target {
  opacity: 1;
  top: 0;
  bottom: 0;

right:0;

}

.lightbox-target:target img {
    height: 98vh;
    vertical-align: top;
    border-radius: 8px;
    
  
}