* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

body {
    overflow:hidden;
    /* background-color: salmon; */
}

section {
  
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  

height:100%;
width:100%;

  
}
.row {
  position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);

  
  width: 70%;

  height:90%;

  display: flex;
  flex-wrap: wrap-reverse;
    
  }
 
.column {
  
    background-color: rgb(255, 251, 213);
    height:35%;

    min-width: 200px;
    margin-top: auto;
    margin-bottom: auto;
    flex:50%;
    position: relative;
    flex-direction: row;


}

@media screen and (max-width: 565px) {
  .column {
   
  height:50%;
  }
}
.image img{
  border-radius: 430px;
  width:200px;
  

 
  

   height: inherit;
  border: 0.5rem outset rgb(125, 240, 234);
  box-shadow: 2px 2px 10px 1px #e97373;
 
}
.imgcontainer {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image{

  
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.image:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.buttoncontainer{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
 
  width: 85%;
  height: auto;
  /* background-color: lightcyan; */

  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

.buttonflex {
  /* flex:1; */
  background-color: rgb(212, 252, 255);
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  margin-top: 0.4vh;
  margin-bottom: 0.4vh;
  box-shadow: 2px 2px 10px 1px #f1b380;
 flex:auto;
  
  z-index: 4;
  
  cursor: default;
  
    letter-spacing: 0;
   
padding-left: 10px;
padding-right: 10px;
    text-align: center;

    text-transform: uppercase;
    font-family: IBM PLEX MONO;
 color: rgb(80, 144, 240);
 transition: ease-out 0.2s;
white-space:nowrap;
min-width:80px;
height: 37px;
}

.buttonflex:hover {
  background-color: rgb(245, 131, 131);
 color:aqua;
  transition: ease-in 0.1s;
  
}



a {
  color: inherit;
}

p {
  margin-top:1.2vh;
 color: inherit; 



}


@media screen and (max-width: 565px) {
  .buttonflex {
   flex: 100%;
   
  }
}



#websitedrawing {
  z-index: 1;
  position: absolute;
left: 50%;
top: 50%;
transform: translate(-58%, -49%) scale(0.5);
pointer-events: none;
}


@media screen and (max-width: 565px) {
  #websitedrawing {
   
    transform: translate(-58%, -49%) scale(0.3);
  }
}



#scratch {
  z-index: 1;
  position: absolute;
left: 50%;
top: 50%;
transform: translate(-58%, -50.5%) scale(0.55);
pointer-events: none;
}


@media screen and (max-width: 565px) {
  #scratch {
   
    transform: translate(-53%, 50%) scale(0.3);
  }
}


#tag {
  z-index: -1;

  left: 50%;
  top: 50%;
  transform: translate(-33.5%, -46%) scale(0.55);
  pointer-events: none;
}


@media screen and (max-width: 565px) {
  #tag {
   
    transform: translate(-34.5%, -46.5%) scale(0.5);
  }
}

#instatag {
  z-index: 4;
  position: fixed;
  left: 35%;
  top: 0%;
  /* transform: translate(-50%, -50%); */
}