@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@font-face {
  font-family: 'KGHAPPYSolid';
  src: url('/KGHAPPYSolid.ttf'), format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

body {
    overflow:hidden;

    background-color: rgb(255, 255, 255);
}

section {
  
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  

height:100%;
width:100%;

  
}
.row {
  position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);

  
  width: 70%;

  height:90%;

  display: flex;
  flex-wrap: wrap-reverse;
    
  }

  @media screen and (max-width: 673px) {
    .row {
      width: 90%;
    
    }
  }
 
.column {
  
    background-color: rgb(197, 248, 248);
    height:35%;

    min-width: 200px;
    margin-top: auto;
    margin-bottom: auto;
    flex:50%;
    position: relative;
    flex-direction: row;


}

@media screen and (max-width: 673px) {
  .column {
   z-index: -1;
  height:50%;
  min-width: 300px;
  }
}
.image img{
  border-radius: 430px;

  
  width: 200px;
 
  

   height: inherit;
  border: calc(0.35vh + 0.35vw) solid rgb(59, 59, 59);
  box-shadow: 2px 2px 10px 1px #e0736b;
 
}
@media screen and (max-width: 673px) {
  .image img {
   width:40vw;
   transform: translate(0%, 2vh);
   border-radius:500px;
   border: calc(0.5vh + 0.5vw) solid rgb(226, 63, 63);
   box-shadow: 0 0 0 0 #000000;
  }
}
.imgcontainer {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image{

  
  transform: scale(1);
  transition: all 0.12s ease-in-out;
}
.image:hover {
  transform: scale(1.05);
  transition: all 0.18s ease-in-out;
}

.buttoncontainer{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
 
  width: 85%;
  height: auto;
  /* background-color: lightcyan; */

  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

.buttonflex {
  /* flex:1; */
  background-color: rgb(255, 245, 230);
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  margin-top: 0.4vh;
  margin-bottom: 0.4vh;
  /* box-shadow: 2px 2px 10px 1px #888888; */
 flex:auto;
  

  
  cursor: default;
  
    letter-spacing: 0;
   
padding-left: 10px;
padding-right: 10px;
    text-align: center;
padding-bottom:10px;
    /* text-transform: upercase; */
    font-family: 'KGHappySolid';
    src: url("KG");
 color: rgb(240, 116, 116);
 transition: ease-out 0.2s;
white-space:nowrap;
min-width:80px;
height: 37px;
}

.buttonflex:hover {
  background-color: rgb(245, 131, 131);
 color:aqua;
  transition: ease-in 0.1s;
  
}



a {
  color: inherit;
}

p {
  margin-top:1.2vh;
 color: inherit; 



}


@media screen and (max-width: 673px) {
  .buttonflex {
   flex: auto;
   
  }
}

.pattern {
  opacity: 0.05;
}

#websitedrawing {
  z-index: 1;
  position: absolute;
left: 50%;
top: 50%;
transform: translate(-58%, -49%) scale(0.35) rotate(0deg);
filter: hue-rotate(2.5deg) brightness(2.2);
pointer-events: none;
}


@media screen and (max-width: 673px) {
  #websitedrawing {
    filter: hue-rotate(200deg) brightness(0.6);
    transform: translate(-56%, -46%) scale(0.25)  rotate(-10deg);
  }
}



#scratch {
  z-index: 5;
  position: absolute;
left:0%;
top:98%;
transform: translate(-25%, -25%) scale(0.55);
pointer-events: none;
visibility: visible;
filter: hue-rotate(2.5deg) brightness(2);

}


@media screen and (max-width: 673px) {
  #scratch {
    left:50%;
    top:50%;
    transform: translate(-50%, 25%) scale(0.3);
    visibility: hidden;
  }
}


#tag {
  z-index: 6;

  left: 50%;
  top: 50%;
  transform: translate(-33.5%, -46%) scale(0.55);
  pointer-events: none;
  filter: hue-rotate(2.5deg) brightness(2);
}


@media screen and (max-width: 673px) {
  #tag {
   z-index: 2;
    transform: translate(-40.5%, -47%) scale(0.3);
  }
}

#instatag {
  z-index: 4;
  position: fixed;
  left: 35%;
  top: 0%;
  /* transform: translate(-50%, -50%); */
  
}