@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
html{
    -webkit-text-size-adjust: 100%;
}



.wrapper {
    
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: vh;
  -webkit-font-smoothing: antialiased;
  width: 100vw;
  } 


header {
  font-family: 'IBM Plex Mono', monospace;
  -webkit-font-smoothing: antialiased;

 
}

.header-wrapper {
  display: flex;
top: 1vh;
left:0;
  height:8vh;

  justify-content: center;
  
  align-items: center;
  
  line-height: 10vh;

  z-index: 1;
 margin-bottom: 0;
 padding-bottom: 0;
  padding-right: 2vw;
  pointer-events: auto;
 
  
} 
#line1 {
position: relative;
  z-index: 10;
  width:98%;
  height:10px;
  background:rgb(69, 206, 240);
  margin-bottom: 0vh;
  margin-left: 0vw;
  animation:fadeInLeft;
  animation-duration: 1.5s; 
}
#line2 {
  position: relative;
  z-index: 10;
  width:98%;
  height:10px;
  background:rgb(255, 219, 101);
  margin-bottom: 0vh;
  margin-left: 0vw;
  animation:fadeInLeft;
  animation-duration: 1.3s; 
}

#line3 {
  position: relative;
  z-index: 10;
  width:98%;
  height:10px;
  background:rgb(255, 102, 102);
  margin-bottom: 1vh;
  margin-left: 0vw;
  animation:fadeInLeft;
  animation-duration: 1s; 
}

@media screen and (max-width: 1050px) {
 #line1, #line2, #line3{
  width:96.5%;
  }
  
} 


@media screen and (max-width: 558px) {
  .header-wrapper{
   height: 16vh;
  }
  
} 


.header-flex1 {
  flex:80%;
  height: inherit;
 
}
.header-flex2 {
  flex:20%;
  height: inherit;
 
}
video,
h1 {
  position:absolute;
  
  top: 0;

  padding-right: 1vw;
 
  margin: 0;
}

h1{
  -webkit-font-smoothing: antialiased;
  padding-left: 10px;
  z-index: 0;
  font-size: 70px;
 text-align: left;
  width: 100vw;
 
  line-height: 8vh;
 

 text-transform: uppercase;

 
 
}

.header-flex1 video{
  
  height: inherit;
  object-fit: cover;
  z-index: -1;
  width: 49.8vw;
  min-width: 600px;
  max-width: 80vw;
  
}
@media screen and (max-width: 704px) {
  .header-wrapper{
    max-width: 350px;
   min-width: 369px;
  }
  
} 

.header-flex2 img{
  width: 100%;
  height: inherit;
  object-fit: cover;
  z-index: -1;
  
  visibility: hidden;
}


a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}


.nav {
  /* display: flex; */
  display: none;
  
  height:100%;
  justify-content: left;
  align-items: left;
  
  z-index: 1;
  padding-right: 2vw;
  pointer-events: auto;
 padding-bottom: 2vh;
  
  max-height: 1em;
 
  position: relative;

 


}

.main-title{
  font-size: 4px;
 
  font-weight: bold;
    /* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
    font-family: 'Shrikhand', cursive;

  
}
 .nav-item {
  animation:fadeInLeft;
  animation-duration: 1s; 
  padding-bottom: 10px;
  padding-right: 3vw;
  float: left;


 }
@media screen and (max-width: 692px) {
  .nav-item{
    visibility: hidden;
  }
  
} 



/* .Menu:hover {
  visibility:visible;
}

.nav-title:hover + .Menu {
  pointer-events: auto;
  visibility:visible;
  
}  */

.textbox {
font-family: 'Roobert', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
padding: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 98vw;
}

/* Create four equal columns that sits next to each other */
.section {
  flex:16%;
  padding:1px;
  position: relative;
}
.section img {
  object-fit: cover;
  width: 100%;
  height: 50vh;
  /* object-position: 100% 100%; */
  vertical-align: middle;
}
@media screen and (max-width: 1050px) {
  .section {
    flex: 33%;
    max-width: 33%;
    
    padding-bottom: 0.5vh;
  }
}
@media screen and (max-width: 1050px) {
  .section img{
  padding-bottom: 3vh;
   height:35vh;
  }
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 658px) {
  .section{
    flex:100%;
    max-width: 100%;
    height: 30%;
  }
}
@media screen and (max-width: 658px) {
  .section img{
  padding-bottom: 3;
    height: 15vh;
  }
}


 .vertical-text { 
  /* width:1px;             */
      /* TRY REMOVING THIS  */
  
  /* word-wrap: break-word; */
  display: block;
 }

.big-text {
  line-height: 1em;
  font-weight: bold;
  font-family: 'Fira Sans', sans-serif;
  animation: fadeInDown; 
  animation-duration: 1.3s; 
  
  
}
.sub-text {
 /* padding-top: 10px; */
  line-height: 1em;
  font-weight: bold;
    font-family: 'IBM plex mono';
   
    animation: fadeInDown; 
  animation-duration: 1.3s; 
  
  
    
}





.row2 {
  display: flex;
  flex-wrap: wrap;
}
.column2 {
  flex-direction: row;
  flex: 20%;
  flex:16%;
  padding:1px;
  position: relative;
  /* padding:10px; */
}

/* iframe {
  position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 0cm;

} */
