@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

html{
    -webkit-text-size-adjust: 100%;
}

body{
    background-color: #fbfdef;
    margin: 0px;
    
}

.wrapper {
    
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    -webkit-font-smoothing: antialiased;
    
    } 
div{
  display: block;
}
a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

header {
    font-family: 'IBM Plex Mono', monospace;
    -webkit-font-smoothing: antialiased;
    
}
 .header-wrapper {
  
    line-height: 1;
    z-index: 1;

    padding-top: 0.1vw;
    padding-bottom: 0.2vw;
 
    pointer-events: auto;
    padding-bottom: 1.5vh;
    
} 

.nav {
  max-height: 1em;
  position: absolute;
display: flex;

}

.main-title{
  font-size: 72px;
  font-weight: bold;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  
  
}
 .nav-item {
  /* animation:fadeInLeft;
  animation-duration: 1s;  */
  padding-bottom: 10px;
  padding-right: 3vw;
float: left;
 }
@media screen and (max-width: 692px) {
  .nav-item{
    visibility: hidden;
  }
  
} 



/* .Menu:hover {
  visibility:visible;
}

.nav-title:hover + .Menu {
  pointer-events: auto;
  visibility:visible;
  
}  */

.textbox {
font-family: 'Roobert', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
padding: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;

}
/* Create four equal columns that sits next to each other */
.section {
  flex:16%;
  padding:1px;
  position: relative;
}
.section img {
  object-fit: cover;
  width: 100%;
  height: 50vh;
  /* object-position: 100% 100%; */
  vertical-align: middle;
}
@media screen and (max-width: 1050px) {
  .section {
    flex: 33%;
    max-width: 33%;
    
    padding-bottom: 3vh;
  }
}
@media screen and (max-width: 1050px) {
  .section img{
  padding-bottom: 3vh;
   height:35vh;
  }
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 658px) {
  .section{
    flex:100%;
    max-width: 100%;
    height: 30%;
  }
}
@media screen and (max-width: 658px) {
  .section img{
  padding-bottom: 3;
    height: 15vh;
  }
}


/* .vertical-text { */
  /* width:1px;             */
      /* TRY REMOVING THIS  */
  
  /* word-wrap: break-word; */
  /* animation: fadeInDown; 
  animation-duration: 1.3s;  */


.big-text {
  line-height: 1em;
  font-weight: bold;
  font-family: 'Fira Sans', sans-serif;
  
}
.sub-text {
 /* padding-top: 10px; */
  line-height: 1em;
  font-weight: bold;
    font-family: 'IBM plex mono';
    color: #535353;
}
.row2 {
  display: flex;
  flex-wrap: wrap;
}
.column2 {
  flex: 20%;
  flex:16%;
  padding:1px;
  position: relative;
  /* padding:10px; */
}