.header {
    background-color: #de6452; /* Greyish blue background color */
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #title {
    margin: 0;
  }
  
  .navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navigation li {
    margin-left: 10px;
  }
  
  .navigation a {
    color: white;
    text-decoration: none;
  }
  